VITE_GOOGLE_CLIENT_ID=your_google_oauth_client_id.apps.googleusercontent.com
VITE_NAVER_CLIENT_ID=your_naver_client_id
VITE_KAKAO_REST_API_KEY=your_kakao_rest_api_key
VITE_KAKAO_MAP_JS_KEY=your_kakao_javascript_key
